.App {

  text-align: center;
  /* background-color:rgb(232, 243, 247); */
}
/* .userContainer{
  margin: 10px;
  align-content: center;
  text-align: center;
  display :inline;
  flex-direction:column;
} */


